.productCard {
  background-color: #fafafa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    width: 18.75rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
}

.productImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.productTitle {
  font-size: 1.5em;
  margin: 16px 0 8px;
}

.productDescription {
  font-size: 1em;
  margin: 8px 0;
}

.productPrice {
  font-size: 1.2em;
  margin: 8px 0;
}

.addToCartButton {
  background-color: #e60000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.addToCartButton:hover {
  background-color: #b12704;
}
